node_modules
.nitro
.nuxt
.output
.git
.github
.gitignore
Dockerfile
.env
.env.*
uploads
**/*.log
coverage
.eslintcache
*.local
.cache
.next
*.swp
*.tmp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
