node_modules
.nitro
.nuxt
.output
.git
.github
.gitignore
.gitattributes
Dockerfile*
.dockerignore
.env*
uploads
**/*.log
coverage
.eslintcache
*.local
.cache
.next
*.swp
*.tmp
*.bak
.DS_Store
Thumbs.db
.vscode
.idea
*.md
!README.md
docs
tests
.eslintrc*
prettier.config.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.nyc_output
coverage
*.tsbuildinfo
